<form>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Titulo" #titulo>
	</div>
	<div class="form-group">
		<textarea cols="30" rows="5" class="form-control" placeholder="Ingredientes" #ingredientes></textarea>
	</div>
	<div class="form-group">
		<textarea cols="30" rows="5" class="form-control" placeholder="Preparacion" #preparacion></textarea>
	</div>
	<div class="form-group">
		<input type="file" class="form-control" (change)="seleccionarImagen($event)" style="display:none" #foto>
		<button type="button" class="btn btn-outline-success" (click)="foto.click()">Imagen</button>
		<img [src]="imagen" style="width:100%;max-width:100px;display: inline-block;margin-left:10px" *ngIf="imagen">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Tiempo (min.)" #tiempo>
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-primary btn-block" (click)="agregarReceta(titulo.value, ingredientes.value, preparacion.value, tiempo.value)">Agregar</button>
	</div>
</form>