/* You can add global styles to this file, and also import other style files */
body{
	height: 100vh;
	margin: 2rem 0;
	background-color: #000;
}
.MyForm{
	&Wrap{
		
		
	}
	
}

input.ng-invalid.ng-touched{
	border: 2px solid purple;
}
/*
Clases utiles : 
Estas clases las maneja angular 

NG-invalid
NG-valid
NG-touched
NG-untoched

*/