<!-- Los cards -->
<div class="pelis-container">

  <div class="pelis-card" *ngIf="pelis.length; else noHayPelas">
    <div class="row">
      <!-- La información del card -->
      <ng-container *ngFor="let movie of pelis">
        <div class="col-4">
          <!-- title card -->
          <div class="title">
            <span class="up">{{movie.title}}</span>
          </div>
          <!-- image card -->
          <div class="poster">
            <img [src]="movie.poster" alt="{{movie.title}}">
          </div>

          <!-- footer info card -->
          <div class="foot">
            <span>{{movie.director}}</span>
            <span>{{movie.year}}</span>
          </div>
        </div>
      </ng-container>

      <!-- No hay nada para mostrar -->
      <ng-template #noHayPelas>
        <div class="col">
          <p>Aun no hay pelas</p>
        </div>
      </ng-template>
    </div>
  </div>

</div>